[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/npqhugo"]
	path = themes/npqhugo
	url = https://github.com/saadjsct/npqhugo.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod.git
